---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About us"
    image={{
      src: 'https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
      Elevate your online presence with our <br />
      <span class="text-accent dark:text-white highlight"> Blazing fast websites</span>
    </Fragment>

    <Fragment slot="subtitle">
      At Think Unlimited, we're on a mission to challenge conventional wisdom about what's possible when it comes to website loading times. Our team of expert developers has spent years perfecting the art of crafting fast, efficient, and highly responsive websites that leave users in awe.
    </Fragment>
  </Hero>

  <!-- Stats Widget ****************** -->

  <Stats
    title="How fast are your sites?"
    stats={[
      { title: 'Loading time', amount: '< 1s' },
      { title: 'Websites Built', amount: '100+' },
      { title: 'Happy Customers', amount: '58+' },
      { title: 'Platforms used', amount: '10+' },
    ]}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    title="Who is this suitable for?"
    subtitle="For Businesses That Prioritize"
    columns={3}
    isBeforeContent={true}
    items={[
      {
        title: 'Loading Speed',
        description:
          "If your business relies on speed and agility to stay ahead of the competition, Think Unlimited's fast websites can help you achieve your goals",
        icon: 'tabler:template',
      },
      {
        title: 'User Experience',
        description:
          "Companies that focus on delivering exceptional user experiences will appreciate the attention-grabbing, engaging environments created by Think Unlimited's websites",
        icon: 'tabler:template',
      },
      {
        title: 'Success',
        description:
          "Whether you're looking to increase conversions, boost engagement, or drive more leads, our websites are designed to support your business goals and help you achieve success",
        icon: 'tabler:template',
      },
    ]}
  />

  <!-- Features3 Widget ************** -->


  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Our values"
    subtitle="We believe in empowering businesses with lightning-fast websites that exceed user expectations, while upholding integrity, innovation, and exceptional customer service."
    items={[
      {
        title: 'Customer-centric approach',
        description:
          'We prioritize customer-centricity by designing websites that seamlessly integrate user experience and business goals.',
      },
      {
        title: 'Constant Improvement',
        description:
          'Our team is committed to continuous learning and improvement, staying ahead of the curve in web development trends and best practices.',
      },
      {
        title: 'Ethical Practices',
        description:
          'We uphold ethical standards, ensuring transparent communication, fair pricing, and social responsibility throughout our project lifecycle.',
      },
    ]}
  />

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="How we work"
    subtitle="Our process is designed to deliver exceptional results quickly and efficiently. We take a collaborative approach with our clients, working closely together to understand their goals and objectives. Our team of experts then uses agile methodologies and specialized skills to develop high-quality solutions that meet those needs."
    isReversed={true}
    callToAction={{
      text: 'Connect with us',
      href: '/contact',
    }}
    items={[
      {
        title: 'Collaboration & Communication',
        description: 'We believe that effective collaboration is key to delivering exceptional results. Our project management approach ensures seamless communication with our clients, keeping you informed every step of the way.',
        icon: 'tabler:globe',
      },
      {
        title: 'Expertise & Specialization',
        description:
          'Our team of experts has a wide range of skills and expertise, including web development, design, and marketing. We work closely with our clients to ensure that we deliver the best possible solution for their needs.',
        icon: 'tabler:code',
      },
      {
        title: 'Agile Methodologies & Quality Assurance',
        description:
          'We use agile methodologies to ensure that our projects are delivered on time and within budget. We also employ quality assurance measures to ensure that our websites meet industry standards and user expectations.',
        icon: 'tabler:check',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="We have a team of experts for"
    tagline="Our Domains"
    columns={4}
    items={[
      {
        title: 'Digital Marketing',
        description: 'Meta, Google, X, OTT platform ads and more',
      },
      {
        title: 'SEO',
        description: 'Search engine optimization & AI optimization',
      },
      {
        title: 'IT Consulting',
        description: 'Evaluate, implement, and optimize technology solutions',
      },
      {
        title: 'Training',
        description: 'Train your organization on cybersecurity and best practices',
      },
    ]}
  />
</Layout>
